﻿  <div class="page-header">
                    <h1>Título</h1>
                </div>

                <div class="mensaje exito">
                    <p>El producto ha sido registrado exitosamente.</p>
                </div>

                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Col. 1</th>
                            <th>Col. 2</th>
                            <th>Col. 3</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Texto</td>
                            <td>Texto</td>
                            <td>Texto</td>
                            <td>Texto</td>
                            <td>
                                <a href="@Url.RouteUrl("editar_ordenpedido", new { id = 1 })">Editar</a>
                                <a href="@Url.RouteUrl("ver_ordenpedido", new { id = 1 })"> Ver</a>
                                <a href=<"#">posible uso</a>
                            </td>
                        </tr> 
                        <tr>
                            <td>Texto</td>
                            <td>Texto</td>
                            <td>Texto</td>
                            <td>Texto</td>
                            <td>
                                <a href="#">Editar</a>
                                <a href="#">Ver</a>
                                <a href="#">Posible uso</a>
                            </td>
                        </tr>        
                    </tbody>
                </table>
                
        

     