﻿  <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Orden de pedidos</li>
                        <li><a href="@Url.RouteUrl("nueva_ordenpedido")">Registrar orden de pedido</a></li>
                        <li><a href="@Url.RouteUrl("ordenpedido")">Listar orden de pedido</a></li>
                    </ul>
                </div>
            </div>