﻿    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">   
                <a class="brand" href="@Url.RouteUrl("raiz")">Gestion de pedidos</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="@Url.RouteUrl("ordenpedido")">Orden de pedido</a></li>
                        <li><a href="@Url.RouteUrl("nuevo_cliente")">Clientes</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>