﻿  <div class="page-header">
                    <h1>Título</h1>
                </div>

                <form class="producto form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">Campo 1:</label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" disabled="disabled" value="Valor 1">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Campo 2</label>
                            <div class="controls">
                                <input class="input-xlarge" type="number" value="50">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Campo 3</label>
                            <div class="controls">
                                <select class="input-xlarge">
                                    <option value="1">Valor 1</option>
                                    <option value="1">Valor 2</option>
                                    <option value="1">Valor 3</option>
                                    <option value="1">Valor 4</option>
                                    <option value="1">Valor 5</option>
                                </select>
                            </div>
                        </div>
                      <div class="control-group">
                            <label class="control-label">Campo 2</label>
                            <div class="controls">
                                <input class="input-xlarge" type="number" value="50">
                            </div>
                        </div>    
                        <div class="control-group">
                            <label class="control-label">Campo 5</label>
                            <div class="controls">
                                <label class="radio">
                                    <input type="radio" name="q" value="1"> Opcion 1
                                </label>
                                <label class="radio">
                                    <input type="radio" name="q" value="2"> Opcion 2
                                </label>
                            </div>
                        </div>  
                     
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                            <button type="reset" class="btn">Limpiar</button>
                        </div>
                    </fieldset>
                </form>