﻿.dropdown-menu {
	border-radius: 0 !important;
}

.open > .dropdown-menu {
	left: 45px !important;
}

a i[class^="icon-"] {
	padding-right: 5px;
}

.modal-backdrop {
	background-color: white !important;
}

.txLeft { text-align: left !important; }
.txRight { text-align: right !important; }
.txCenter { text-align: center !important; }
.txJustify { text-align: justify !important; }

.well label { display: inline !important; }
.well input { width: 100px !important; margin-right: 20px !important; text-align: right !important; }
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

div.controls select { margin-bottom: 8px; }
footer {
	clear: both;
}

div.navbar-inner {
	background-color: #08c !important;
	background-image: none !important;
}

.navbar .brand, .navbar .nav>li>a {
	color: white !important;
}

.navbar .nav>li>a:hover {
	background-color: blue !important;
}

table.table th {
	background-color: #eee;
	color: black !important;
}

table.table thead tr {
	border: 1px solid black;
}

body > div {
	width: 850px;
	margin: auto;
}

table.table th { border-bottom: none !important; }
table.table td { border-bottom: 1px solid #ddd !important; border-top: none !important; }

div.mensaje {
	border: 2px solid;
	padding: 7px;
	border-radius: 4px;
	margin-bottom: 10px;
}

div.mensaje p {
	font-weight: bold;
	margin: 0;
}

div.mensaje.error {
	border-color: #FDACAC;
	background-color: #FDE5E5;
}

div.mensaje.exito {
	border-color: #98C998;
	background-color: #C1FAC1;
}
.table {
	margin-bottom: 10px;
}
