﻿<!DOCTYPE html>
<!-- saved from url=(0040)http://localhost:3000/productos/vigentes -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Gestión de clínica</title>
    <link href="/Content/reset.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Content/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Content/bootstrap-responsive.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Content/main.css" media="screen" rel="stylesheet" type="text/css">
</head>

<body>
     <!-- Este metodo llama a la vista navbar q es la barra de arriba -->
@Html.Partial("partials/_NavBar")
    
    <div class="container-fluid">
        <div class="row-fluid">                
          @Html.Partial("partials/_LeftSidebar")

   
            <div class="span9">
                <!-- Aqui va el contenido de las vistas -->
                @RenderBody()
            </div>

        </div>

        <hr>
               @Html.Partial("partials/_Footer") 
    </div>

</body>
</html>